:root {
    --font-body: 'Supreme-Variable', system-ui;
    --font-heading: 'Boska-Variable', serif;
    --cubic-ease: cubic-bezier(0.25, 0, 0.1, 1);
}

@font-face {
    font-family: 'Supreme-Variable';
    src: url('./fonts/Supreme-Variable.woff2') format('woff2'), url('./fonts/Supreme-Variable.woff') format('woff'),
        url('./fonts/Supreme-Variable.ttf') format('truetype');
    font-weight: 100 800;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: 'Boska-Variable';
    src: url('./fonts/Boska-Variable.woff2') format('woff2'), url('./fonts/Boska-Variable.woff') format('woff'),
        url('./fonts/Boska-Variable.ttf') format('truetype');
    font-weight: 200 900;
    font-display: swap;
    font-style: normal;
}
@font-face {
    font-family: 'Boska-VariableItalic';
    src: url('./fonts/Boska-VariableItalic.woff2') format('woff2'), url('./fonts/Boska-VariableItalic.woff') format('woff'),
        url('./fonts/Boska-VariableItalic.ttf') format('truetype');
    font-weight: 200 900;
    font-display: swap;
    font-style: italic;
}

/* Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
}
* {
    margin: 0;
}
@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}
img,
canvas,
svg {
    display: block;
    max-width: 100%;
}
input,
button,
select {
    font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}
p {
    text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-heading);
    font-weight: 650;
    line-height: 1.2;
    text-wrap: balance;
}

/* Styles */
body {
    font-family: var(--font-body);
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    overflow: hidden;
}
body[data-loaded='true'] {
    overflow: auto;
}
h2 {
    font-size: clamp(2.5rem, 4vw, 5rem);
}
p {
    font-size: clamp(1rem, 1.25vw, 1.5rem);
    font-weight: 400;
}
button {
    cursor: pointer;
}

/* Sections */
#scroll-wrapper {
    /* pointer-events: none; */
    transition: all 0.5s ease-in-out;
}
.section {
    display: grid;
    height: 100vh;
    height: 100dvh;
}
.section-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    padding: 8%;
}
#section-1 .section-content-inner {
    position: relative;
}
[data-loaded='true'] #section-1 .section-content-inner,
[data-loaded='true'] #section-4 .section-content-inner {
    transition: transform 1.5s var(--cubic-ease);
    transition-delay: 2.5s;
}
[data-loaded='true'] #section-1 .section-content-inner {
    transform: translateY(-16vh);
}
[data-loaded='true'] #section-4 .section-content-inner {
    transform: translateY(22vh);
}
.section-content-inner {
    display: block;
    max-width: max(30vw, 64rem);
}
.section-content:not([data-side]) > .section-content-inner {
    text-align: center;
    margin: 0 auto;
}
.section-content-inner > *:not(:first-child) {
    margin-top: 1em;
}
@media (min-width: 48rem) {
    .section {
        grid-template: 'left right';
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .section-content[data-side='left'] {
        grid-area: left;
    }
    .section-content[data-side='right'] {
        grid-area: right;
    }
    .section-content:not([data-side]) {
        grid-area: 1 / 1 / 2 / 3;
    }
}
.text-reveal-wrapper {
    overflow: hidden;
    padding-bottom: 0.375em;
}

.section-heading {
    background: linear-gradient(#f7fcff 0%, #ace3ff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: #fff;
    text-shadow: 0 0.0625em 0.125em rgba(0, 0, 0, 0.33);
}
p {
    color: #fff;
    text-shadow: 0 0.125em 0.125em rgba(0, 0, 0, 0.33);
}
.section-nav-button {
    background: #fff;
    border: 0;
    border-radius: 1.5rem;
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.25);
    height: 3rem;
    letter-spacing: 0.125em;
    padding-inline: 2rem;
    text-transform: uppercase;
}

/* Backdrops */
.backdrops {
    display: grid;
    inset: 0;
    position: fixed;
    user-select: none;
}
.backdrop-item {
    clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%);
    grid-area: 1 / 1 / 2 / 2;
    transition: all 1.5s cubic-bezier(0.7, 0, 0.3, 1);
}
.backdrop-item:nth-child(3),
.backdrop-item:nth-child(4) {
    transform: scaleX(-1);
}
.backdrop-item.inactive-after {
    clip-path: polygon(0% 100%, 0% 100%, 100% 100%, 100% 100%);
}
.backdrop-item img {
    height: 100%;
    object-fit: cover;
    object-position: center;
    transform: scale(1.25);
    transition: all 1.5s cubic-bezier(0.7, 0, 0.3, 1);
    width: 100%;
}
.backdrop-item.inactive-after img {
    transform: scale(1.25) translateY(10%);
}
.backdrop-item.inactive-before img {
    transform: scale(1.25) translateY(-10%);
}

/* Dopple */
.dopple {
    display: grid;
    inset: 0;
    position: fixed;
    user-select: none;
}

.dopple > * {
	grid-area: 1 / 1 / 2 / 2;
}

#dopple-canvas {
    opacity: 0;
    transition: all 2.5s ease-out;
}
[data-loaded='true'] #dopple-canvas {
    opacity: 1;
    transition-delay: 2500ms;
}

/* Loading screen */
.loading-screen {
    --bg: #1e66ad;
    background-color: var(--bg);
    color: #fff;
    display: grid;
    gap: 1rem;
    inset: 0;
    justify-items: center;
    place-content: center;
    position: fixed;
    user-select: none;
    width: 100vw;
    z-index: 2;
}
.loading-screen::after {
    background: linear-gradient(
                -45deg,
                rgba(0, 0, 0, 0.03) 10%,
                transparent 10%,
                transparent 40%,
                rgba(0, 0, 0, 0.03) 40%,
                rgba(0, 0, 0, 0.03) 60%,
                transparent 60%,
                transparent 90%,
                rgba(0, 0, 0, 0.1) 90%
            )
            repeat 0px 0px/8px 8px,
        radial-gradient(circle, #2660ef00, #040e28ee);
    content: '';
    display: block;
    inset: 0;
    pointer-events: none;
    position: absolute;
}
[data-loaded='true'] .loading-screen {
    opacity: 0;
    transition: opacity 1.5s cubic-bezier(0.7, 0, 0.3, 1), visibility 1.5s linear;
    visibility: hidden;
}
.loading-graphic {
    max-width: 16rem;
    position: relative;
    width: 16rem;
}
.loading-graphic::after {
    background-image: linear-gradient(90deg, var(--bg) 0%, rgba(0, 0, 0, 0) 28%, rgba(0, 0, 0, 0) 72%, var(--bg) 100%);
    content: '';
    display: block;
    inset: 0;
    position: absolute;
}
.loading-graphic svg {
    width: 100%;
}
.loading-boat {
    animation: 0.7s cubic-bezier(0.37, 0, 0.63, 1) infinite loading-boat-bob;
    fill: #246fba;
    stroke: #9fcbf7;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 1.5;
}
.loading-waves-fill,
.loading-waves-line {
    animation: 3.5s linear infinite loading-waves-slide;
}
.loading-waves-fill {
    fill: var(--bg);
}
.loading-waves-line {
    fill: none;
    stroke: #9fcbf7;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 1.5;
}
@keyframes loading-boat-bob {
    0%,
    100% {
        transform: translateY(0%);
    }
    50% {
        transform: translateY(5%);
    }
}
@keyframes loading-waves-slide {
    100% {
        transform: translateX(-100%);
    }
}

/* Configuration mode */
body[data-config-active='true'] {
    overflow: hidden;
}
body[data-config-active='true'] #scroll-wrapper {
    opacity: 0;
    visibility: hidden;
}
body[data-config-active='false'] .hotspot {
    opacity: 0;
    visibility: hidden;
}
body[data-config-active='true'] .hotspot {
    opacity: 1;
    visibility: visible;
}

/* Hotspots */
.hotspots {
	visibility: hidden;
}
[data-hotspot] {
    position: relative;
}
[data-hotspot] button {
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #fff6;
    border-radius: 100%;
    height: max(1.5rem, 3vh);
    position: relative;
    transition: all 150ms var(--cubic-ease);
    width: max(1.5rem, 3vh);
}
[data-hotspot] button::after {
    background: #0ab195;
    border: 1px solid #fff;
    border-radius: 100%;
	box-shadow: 0 0 0.375rem #0006;
    content: '';
    display: block;
    height: 60%;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all 150ms var(--cubic-ease);
    width: 60%;
}
[data-hotspot] button:hover,
[data-hotspot] button:focus-visible {
  transform: scale(1.2);
}
[data-hotspot] button:hover::after,
[data-hotspot] button:focus-visible::after {
  transform: translate(-50%, -50%) scale(0.75);
}